In [1]:
using Pkg
Pkg.activate(".")

  Activating project at `~/local_Documents/CausalInferenceWithR`

In [2]:
Pkg.add(["CSV", "DataFrames", "HTTP", "Statistics"])
using CSV, DataFrames, HTTP, Statistics

    Updating registry at `~/.julia/registries/General`
    Updating git-repo `https://github.com/JuliaRegistries/General.git`
   Resolving package versions...
  No Changes to `~/local_Documents/CausalInferenceWithR/Project.toml`
  No Changes to `~/local_Documents/CausalInferenceWithR/Manifest.toml`

In [10]:
data03 = CSV.read(HTTP.get("https://raw.githubusercontent.com/mtakahashi123/causality/main/data03.csv").body, DataFrame; missingstring = "NA");

In [4]:
function attach(x::DataFrame)
    for i in propertynames(x)
        @eval $(i) = $(x).$(i)
    end
end

attach (generic function with 1 method)

## STUVA

Stable Unit Treatment Value Assumption

さとゔぁと発音するらしい。ずっとすとぅーばだと思ってた。

処置を受ける個体ごとに処置の値が安定
- 相互干渉がない
- 個体に対する隠れた処置がない
二番目の仮定がやや難しそう。

本質的に除外制約 = 別の処置による因果効果の存在を除外するための仮定。

## 識別性の条件

**識別性(identifiability)** = データからパラメタを一意に推定できること。

識別性＝正値性（$0<P(T=1)<1$, 両端を含まない）＋独立性(${Y(1), Y(0) | T}$, 割り付けについての独立性)

特に，独立性は無作為割付けならば用意に満たされるが，観察研究では必ずしもそうでないので注意が必要。


## 実験研究におけるATEの推定

テストの例の割り付け（補習を受けるかどうか）は無作為ではなかったため，独立性の仮定が満たされない＝ATEのナイーブな推定量にバイアスが入る。

補習の有無の割り付けは入試の成績（x1）に依存している。また，入試の成績は（数学力という潜在変数を共通の親に持つ形で）期末試験の成績（＝潜在的結果変数）に依存している。

## 共変量の役割

無交絡性(unconfoundedness) = ある変数（の組）$\mathbf{X}$を条件付ければ，独立性の仮定が成り立つ。

$$
\{Y_i(1), Y_i(0)\} \perp\!\!\!\!\perp T_i|\it{X}
$$

合わせて条件付き正値性も重要。

$$
0 < P(T=1|\it{X}) < 1
$$

強い意味での無視可能な割り付け (stringly ignorable treatment assignment)＝STUVAと無交絡性，条件付き正値性が成り立つ。

In [11]:
data03

20×5 DataFrame
 Row │ x1     y3     t1     y0t    y1t
     │ Int64  Int64  Int64  Int64  Int64
─────┼───────────────────────────────────
   1 │    70     74      1     62     74
   2 │    70     63      0     63     74
   3 │    70     73      1     62     73
   4 │    70     71      1     65     71
   5 │    70     74      1     63     74
   6 │    75     67      0     67     77
   7 │    75     77      1     68     77
   8 │    75     68      0     68     76
   9 │    75     77      1     68     77
  10 │    75     78      1     67     78
  11 │    85     88      1     78     88
  12 │    85     77      0     77     86
  13 │    85     76      0     76     87
  14 │    85     86      1     74     86
  15 │    85     78      0     78     85
  16 │    90     81      0     81     91
  17 │    90     91      1     81     91
  18 │    90     82      0     82     91
  19 │    90     82      0     82     92
  20 │    90     82      0     82     92

- x1 入学試験成績
- y3 期末試験成績
- t1 処置
- y1t 潜在的結果変数（期末試験成績の）

y1tは処置が1のものについてはy3と同じ値が入る。

上から5人ごとに割り付け確率が変わっており，上の集団から順に4/5, 3/5, 2/5, 1/5となっている。

In [17]:
for g in 1:4
    i = (g - 1) * 5 + 1
    p = mean(data03.t1[i:i+4])
    println("処置群$(g)の割り付け確率は$(100p)%")
end

処置群1の割り付け確率は80.0%
処置群2の割り付け確率は60.0%
処置群3の割り付け確率は40.0%
処置群4の割り付け確率は20.0%

In [5]:
describe(data03)

5×7 DataFrame
 Row │ variable  mean     min    median   max    nmissing  eltype
     │ Symbol    Float64  Int64  Float64  Int64  Int64     DataType
─────┼──────────────────────────────────────────────────────────────
   1 │ x1          80.0      70     80.0     90         0  Int64
   2 │ y3          77.25     63     77.0     91         0  Int64
   3 │ t1           0.5       0      0.5      1         0  Int64
   4 │ y0t         72.2      62     71.0     82         0  Int64
   5 │ y1t         82.0      71     81.5     92         0  Int64

In [6]:
attach(data03)

In [7]:
mean(y3[@. t1 == 1]) - mean(y3[@. t1 == 0])

3.3000000000000114

In [9]:
mean(y1t) - mean(y0t)

9.799999999999997